@{
    ViewData["Title"] = "Home Page";
}
<style>
    .header{
        background: linear-gradient(180deg,#002b33,rgba(0,43,51,.25)),linear-gradient(90deg,#008060 21.86%,#2bab60 78.13%);
        min-height: 100px;
        min-width: 100%;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>

    </p>
</div>
<div class="header">
</div>