@* Login.cshtml *@
@model DAO.Models.User

<div class="auth-page">
    <h2>Login</h2>

    <form asp-action="Login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <div class="text-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
        <button type="submit">Login</button>
    </form>

    <a class="forgot-link" href="/Auth/ForgotPassword">Forgot Password?</a>
</div>
