@model DAO.Models.User

<div class="auth-page">
    <h2>Register</h2>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    <form asp-action="Register" method="post">
        <input asp-for="Username" placeholder="Username" required />

        <input name="rawPassword" type="password" placeholder="Password" required />

        <input asp-for="Firstname" placeholder="First Name" />

        <input asp-for="Lastname" placeholder="Last Name" />

        <input asp-for="Email" type="email" placeholder="Email" />

        <input type="hidden" name="role" value="jobseeker" />

        <button type="submit">Register</button>
    </form>
</div>
