@model DAO.Models.User

<form asp-action="Register" method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" required />
    </div>
    <div>
        <label>Password</label>
        <input name="rawPassword" type="password" required />
    </div>
    <div>
        <label>First Name</label>
        <input asp-for="Firstname" />
    </div>
    <div>
        <label>Last Name</label>
        <input asp-for="Lastname" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" type="email" />
    </div>
    <button type="submit">Register</button>
</form>
